In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
df['State'].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [6]:
State_dict={'California':1,'New York':2,'Florida':3}
df['State']=df['State'].map(State_dict)

In [7]:
df.head(20)

    R&D Spend  Administration  Marketing Spend  State     Profit
0   165349.20       136897.80        471784.10      2  192261.83
1   162597.70       151377.59        443898.53      1  191792.06
2   153441.51       101145.55        407934.54      3  191050.39
3   144372.41       118671.85        383199.62      2  182901.99
4   142107.34        91391.77        366168.42      3  166187.94
5   131876.90        99814.71        362861.36      2  156991.12
6   134615.46       147198.87        127716.82      1  156122.51
7   130298.13       145530.06        323876.68      3  155752.60
8   120542.52       148718.95        311613.29      2  152211.77
9   123334.88       108679.17        304981.62      1  149759.96
10  101913.08       110594.11        229160.95      3  146121.95
11  100671.96        91790.61        249744.55      1  144259.40
12   93863.75       127320.38        249839.44      3  141585.52
13   91992.39       135495.07        252664.93      1  134307.35
14  119943.24       156547.42        256512.92      3  132602.65
15  114523.61       122616.84        261776.23      2  129917.04
16   78013.11       121597.55        264346.06      1  126992.93
17   94657.16       145077.58        282574.31      2  125370.37
18   91749.16       114175.79        294919.57      3  124266.90
19   86419.70       153514.11             0.00      2  122776.86

In [8]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [10]:
x=df[['State','R&D Spend','Marketing Spend']]
y=df[['Profit']]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

In [14]:
models={
    'LR':LinearRegression(),
    'KNN':KNeighborsRegressor(),
    'DT':DecisionTreeRegressor(),
    'EN':RandomForestRegressor(),
    'SVM':SVR(),
    'XG':XGBRegressor()
    
}

In [16]:
for name,model in models.items():
    print(f'using:{name}')
    model.fit(x_train,y_train)
    print(f'train accurancy:{model.score(x_train,y_train)}')
    print(f'test accurancy:{model.score(x_test,y_test)}')
    print('-'*30,'\n')

using:LR
train accurancy:0.9468285399458092
test accurancy:0.9606382462982799
------------------------------

using:KNN
train accurancy:0.8734640132060937
test accurancy:0.8893888865029426
------------------------------

using:DT
train accurancy:1.0
test accurancy:0.8476954241493424
------------------------------

using:EN

<ipython-input-16-269b9ff5bae9>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

train accurancy:0.9898970666431067
test accurancy:0.9237879908091755
------------------------------

using:SVM
train accurancy:-0.01695654761264409
test accurancy:-0.09243513139040616
------------------------------

using:XG

C:\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

train accurancy:0.9999999999752978
test accurancy:0.8633791188526193
------------------------------