In [49]:
import pandas as pd
import numpy as np
import joblib

In [55]:
df=pd.read_csv('House prices.csv')
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [60]:
df['city'].value_counts()

Seattle                1573
Renton                  293
Bellevue                286
Redmond                 235
Issaquah                187
Kirkland                187
Kent                    185
Auburn                  176
Sammamish               175
Federal Way             148
Shoreline               123
Woodinville             115
Maple Valley             96
Mercer Island            86
Burien                   74
Snoqualmie               71
Kenmore                  66
Des Moines               58
North Bend               50
Covington                43
Duvall                   42
Lake Forest Park         36
Newcastle                33
Bothell                  33
Vashon                   29
SeaTac                   29
Tukwila                  29
Enumclaw                 28
Carnation                22
Normandy Park            18
Medina                   11
Clyde Hill               11
Fall City                11
Black Diamond             9
Ravensdale                7
Pacific                   6
Algona                    5
Yarrow Point              4
Skykomish                 3
Milton                    2
Preston                   2
Beaux Arts Village        1
Inglewood-Finn Hill       1
Snoqualmie Pass           1
Name: city, dtype: int64

In [63]:
dic_country={'USA':1}
dic_city={'Seattle':1,'Renton':2,'Bellevue':3,'Redmond':4,'Issaquah':5,'Kirkland':6,'Kent':7,'Auburn':8,'Sammamish':9,
          'Federal Way':10,'Shoreline':11,'Woodinville':12,'Maple Valley':13,'Mercer Island':14,'Burien':15,'Snoqualmie':16,
          'Kenmore':17,'Des Moines':18,'North Bend':19,'Covington' :20,'Duvall':21,'Lake Forest Park':22,'Newcastle':23,
          'Bothell':24,'Vashon':25,'SeaTac':26,'Tukwila':27,'Enumclaw':28,'arnation':29,'Normandy Park':30,'Medina':31,
          'Clyde Hill':32,'Fall City':33,'Black Diamond':34,'Ravensdale':35,'Pacific':36,'Algona':37,'Yarrow Point':38,
          'Skykomish':39,'Milton':40,'Preston':41,'Beaux Arts Village':42,'Inglewood-Finn Hill':43,'Snoqualmie Pass':44}

In [64]:
df['country']=df['country'].map(dic_country)
df['city']=df['city'].map(dic_city)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4578 non-null   float64
 16  statezip       4600 non-null   object
 17  country        4600 non-null   int64
dtypes: float64(5), int64(10), object(3)
memory usage: 647.0+ KB

In [66]:
df['date']=pd.to_datetime(df['date'],format='%Y-%m-%d' ,errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   datetime64[ns]
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4578 non-null   float64
 16  statezip       4600 non-null   object
 17  country        4600 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(10), object(2)
memory usage: 647.0+ KB

In [67]:
df.isnull().sum()

date              0
price             0
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront        0
view              0
condition         0
sqft_above        0
sqft_basement     0
yr_built          0
yr_renovated      0
street            0
city             22
statezip          0
country           0
dtype: int64

In [68]:
df['city'].fillna(df['city'].mean(),inplace=True)
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [75]:
x=df[['price','bedrooms','bathrooms','city','country','sqft_living','sqft_lot','floors','condition','waterfront','view','yr_built','yr_renovated','sqft_above','sqft_basement']]
y=df[['price']]

In [76]:
from sklearn.model_selection import train_test_split
x_train,x_tset,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [77]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_tset=scaler.transform(x_tset)

In [78]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

In [79]:
models={
    'LR':LinearRegression(),
    'KNN':KNeighborsRegressor(),
    'DT':DecisionTreeRegressor(),
    'EN':RandomForestRegressor(),
    'SVM':SVR(),
    'XG':XGBRegressor()
    
}

In [ ]:
for name,model in models.items():
    print(f'using:{name}')
    model.fit(x_train,y_train)
    print(f'train accurancy:{model.score(x_train,y_train)}')
    print(f'test accurancy:{model.score(x_tset,y_test)}')
    print('-'*30,'\n')

using:LR
train accurancy:1.0
test accurancy:1.0
------------------------------

using:KNN
train accurancy:0.6891912305475092
test accurancy:0.7164048194125052
------------------------------

using:DT
train accurancy:1.0
test accurancy:0.9557242348974262
------------------------------

using:EN

<ipython-input-80-8112834d08a2>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)